@model UmbBook.Models.FriendRequestsViewModel

<h2>Accepted friends</h2>
@foreach (var friend in Model.friendRequests)
{
    <div>
        <a href="/members-wall/?id=@friend.Id">
            @friend.Name
        </a><br />
    </div>
}
