@using Umbraco.Web
@using Umbraco.Web.Macros
@using Umbraco.Web.Mvc

@model UmbBook.Models.SearchResultModel

<div>
    <p><a href="/members-wall/?id=@Model.UserId">@Model.Name</a></p> 
    <hr />
</div>