@using Umbraco.Web
@using Umbraco.Web.Macros
@using Umbraco.Web.Mvc

<h1>Search for members:</h1>
<form>
    <input type="text" name="query" id="query" />

    <input type="submit" value="Search" />
</form>