@inherits Umbraco.Web.Mvc.UmbracoViewPage
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


<div ng-app="myApp" ng-controller="testCtrl">

    <table>
        <tr>
            <th>Name</th>
            <th>Member since</th>
            <th>Email</th>
        </tr>
        <tr ng-repeat="x in memberslist">
            <td>{{ x.Name }}</td>
            <td>{{ x.CreateDay }}</td>
            <td>{{ x.Email }}</td>
        </tr>
    </table>
</div>


<script>
    var app = angular.module('myApp', []);

    app.controller('testCtrl', function ($scope, $http) {


        $http.get("http://localhost:53281/umbraco/api/Test/GetAllUsers")
        .success(function (response) { $scope.memberslist = response; });
    });
</script>